In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv')

#### Get Average of Petal Length

In [5]:
df.petal_length.mean()

3.7586666666666693

#### Create new column "Petal Area"  and calculatue petals area (petal width * petal length)

In [6]:
df['petal_area'] = df['petal_length']*df['petal_width']

In [14]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  Setosa        0.28
1           4.9          3.0           1.4          0.2  Setosa        0.28
2           4.7          3.2           1.3          0.2  Setosa        0.26
3           4.6          3.1           1.5          0.2  Setosa        0.30
4           5.0          3.6           1.4          0.2  Setosa        0.28

In [7]:
df['petal_area']

0       0.28
1       0.28
2       0.26
3       0.30
4       0.28
5       0.68
6       0.42
7       0.30
8       0.28
9       0.15
10      0.30
11      0.32
12      0.14
13      0.11
14      0.24
15      0.60
16      0.52
17      0.42
18      0.51
19      0.45
20      0.34
21      0.60
22      0.20
23      0.85
24      0.38
25      0.32
26      0.64
27      0.30
28      0.28
29      0.32
       ...
120    13.11
121     9.80
122    13.40
123     8.82
124    11.97
125    10.80
126     8.64
127     8.82
128    11.76
129     9.28
130    11.59
131    12.80
132    12.32
133     7.65
134     7.84
135    14.03
136    13.44
137     9.90
138     8.64
139    11.34
140    13.44
141    11.73
142     9.69
143    13.57
144    14.25
145    11.96
146     9.50
147    10.40
148    12.42
149     9.18
Name: petal_area, Length: 150, dtype: float64

#### Capitalize all species in species column

In [16]:
df.species = df.species.str.capitalize()

In [17]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  Setosa        0.28
1           4.9          3.0           1.4          0.2  Setosa        0.28
2           4.7          3.2           1.3          0.2  Setosa        0.26
3           4.6          3.1           1.5          0.2  Setosa        0.30
4           5.0          3.6           1.4          0.2  Setosa        0.28

#### Get the Average Sepal Length, Sepal Width, Petal Length, Petal Width of each species

In [18]:
df.groupby(df.species).sepal_length.mean()

species
Setosa        5.006
Versicolor    5.936
Virginica     6.588
Name: sepal_length, dtype: float64

In [21]:
df.groupby(df.species).mean().iloc[:,0:4] #iloc is subsetting the columns

            sepal_length  sepal_width  petal_length  petal_width
species
Setosa             5.006        3.418         1.464        0.244
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026